*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.App {
  background-color: #222222;
}

.flex-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  height: 40px;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.logo img {
  width: 40vh;
}

section.personajesContainer{
  background-color: #222222;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
}

.personaje {
  background-color: white;
  max-width: 250px;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.personaje div > div {
  width: 100%;
  border-bottom: 1px solid #222;
}

.personaje h1 {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personaje ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.personaje small {
  text-align: left;
  width: 30%;
}

.personaje p {
  width: 50%;
}

.personaje ul li{
  padding: 10px 0;  
}

.personaje ul li{
  padding: 10px 0;  
  width: 33.33%;
}

.personaje ul li.Alive{
  background-color: green;
  color: white;
}

.personaje ul li.Dead{
  background-color: red;
  color: white;
}

.personaje ul li.unknown{
  background-color: yellow;
  color: #222;
}